h1{
    font-size:30px;
    font-family: open sans, sans serif;
    font-weight: bold;
}
h2{
font: bold, 16px open sans, sans serif;
}
section{
display:block;
}
.cuerpol{
text-align: justify;
margin: 20px;
width: 60%;
float: left;    
}
article{
    font: bold 14px open sans, sans serif;
    background:#1b4668;
    color: white;
    padding: 4px 4px;
    margin-bottom: 30px;
    margin-top:-20px;
}
img{
border: 2px solid #808080;
border-radius: 8px;
}
#imag1{
float:right;
margin:4px 12px;
width:38%;
}
#imag2{
float:right;
margin:4px 12px;
width:20%;
}
#imag3{
float: right;
margin: 0px 12px;
width:30%;
}
.pie{
    clear: both;
    text-align:center;
    padding:10px;
    margin-top: 40px;
    background: black;
    font: bold 12px open sans, sans serif;
    color: white;
    }
    .barra {
      background:#1b4668;
      color: white;
      margin-left: 64%;
      margin-bottom: 30%;
      padding:3px 3px;
      margin-top:8px;
    }